services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile.api
    ports:
      - "3000:3000"
    depends_on:
      - db
    container_name: okanban-api

  client:
    build:
      context: ./client
      dockerfile: Dockerfile.cli
    ports:
      - "4173:4173"
    depends_on:
      - api
    container_name: okanban-cli

  db:
    image: postgres:17-alpine
    container_name: okanban-database
    env_file:
      - .database.docker.env
    volumes:
      - ./api/data:/docker-entrypoint-initdb.d
      - pg-okanban:/var/lib/postgresql/data

volumes: 
  pg-okanban: