.ghost {
  opacity: 0;
}

html {
  font-size: 90%;
}

body {
  padding: 1rem;
}

ul,
li {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

section {
  overflow-y: auto;
}

section > ul {
  display: flex;
  gap: 1rem;
}

section > ul > li {
  min-width: 400px;
}

@media screen and (max-width: 600px) {
  section {
    overflow-y: hidden;
  }

  section > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  section > ul > li {
    min-width: auto;
  }
}

section button {
  padding: 0.15rem;
}